html {
    height: 100%;

}

body {
    background-color: blue;
    height: 100%;
}


#balk {

    background-color: white;
    width: 80%;
    height: 15%;

}

#container {

    background-color: red;
    width: 80%;
    height: 75%;

}