body {
  background-image: url('../images/background black.jpg');
  background-size: cover;

}

body {
  color: lightblue;
  text-align: center;
  font-size: 30px;
  font-style: oblique;

}

h1 {
  color: whitesmoke;
  text-align: center;
  font-size: 50px;
  font-style: oblique;

h3 {
  text-align: left;
  color: whitesmoke;
  font-style: oblique;
}

h2 {
  text-align: right;
  color: whitesmoke;
  font-style: oblique;
}

img {
    font-style:width:128px; height:128px
}
