html {
    height: 100%;

}

body {
    background-color: #f1f1f1;
    height: 100%;
}


#balk {

    background-color: white;
    width: 100%;
    height: 15%;

}
#balk p {
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    color: #222;
    float: left;
    padding: -50px 15px;
  


}
#balk img {
    float: left;
    margin: auto;
    width: auto;
    height: 90%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: white;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}



#container {

    background-color: white;
    width: 100%;
    height: 90px;
    margin-top: 38.9%;
    background-size: cover;
    position: fixed;

    
}

#container p {
text-align: center;


}

#plaatjes {
    width: 75%;
    float: right;





}
#plaatjes img {
    height: 250px;
    margin-left: 100px;
    margin-top: 100px;
    width: 400px;

}

#plaatjes p {
    



} 
.plaatje {
    float: left;
    margin: 5px;
    border: 1px solid grey;
    height: ;
}
.text {
    text-align: center;
    padding: 0px;

}