body {
  background-image: url('background black.jpg');
  background-size: cover;

}

body {
  color: lightblue;
  text-align: center;
  font-size: 30px;
  font-style: oblique;

}

h1 {
  color: whitesmoke;
  text-align: center;
  font-size: 50px;
  font-style: oblique;

}

h3 {
  text-align: center;
  color: whitesmoke;
  font-style: italic;
}

h2 {
  text-align: center;
  color: whitesmoke;
  font-style: oblique;
}
#backspace img {
    float: left;
    width: auto;
    height: 100px;
    position: left;


}

